<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 프로젝트</title>
</head>
<body>
    <h1>게시판 프로젝트</h1>
    <h2>SPRING BOOT</h2>
    <ul>
        <li>SPRING BOOT</li>
        <li>MySQL 8.0</li>
        <li>Mybatis 3.0</li>
        <li>Thymeleaf</li>
    </ul>
    <ul>
        <li><a href="/board/list">게시판</a></li>
        <li><a href="/user/login">로그인</a></li>
        <li><a href="/user/join">회원가입</a></li>
    </ul>
</body>
</html>